.login-form{
	display: block;
	width: 100%;
	max-width: 600px;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 50px;
	padding-left: 4%;
	padding-right: 4%;
	background-color: #595959;
}.login-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}.login-form > input{
	display: block;
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	color: #595959;
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
	margin-top: 20px;
}.login-form > button{
	display: block;
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: #cfc61f;
	color: #fff;
	margin-top: 20px;
	padding: 20px;
	font-size: 16px;
	font-weight: bolder;
	border-radius: 5px;
}.login-form > .error-box{
	display: none;
	margin-top: 30px;
	background-color: #eb7c7c;
	color: #616161;
	padding: 10px;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 5px;
}