*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}html, body{
	overflow-x: hidden;
	background-color: #dedede;
}.nav-container{
	display: block;
	width: 100%;
	height: 40px;
	background-color: #363636;
	color: #fff;
	text-align: center;
	font-size: 22px;
	letter-spacing: -1px;
	font-weight: bolder;
	overflow: hidden;
}.nav-container > ul{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
}ul > .left-nav{
	display: inline-block;
	float: left;
	width: 6%;
	height: 100%;
	padding-top: 8px;
	border-bottom: 5px solid #cfc61f;
	cursor: pointer;
}ul > .center-nav{
	display: inline-block;
	width: 88%;
	height: 100%;
	padding-top: 6px;
	float: left;
	color: #fff;
	text-align: center;
}ul > .right-nav{
	display: inline-block;
	width: 6%;
	height: 100%;
	float: left;
	padding-top: 8px;
	border-bottom: 5px solid #cfc61f;
	cursor: pointer;
}ul > .left-nav > img{
	width: 20px;
	height: 20px;
}div.container{
	display: block;
	width: 100%;
}.container > .slide-container{
	display: inline-block;
	float: left;
	width: 20%;
	height: calc(100vh - 40px);
	background-color: #4a4a4a;
	display: none;
}.container > .slide-container > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}.slide-container > ul{
	display: block;
	width: 100%;
	margin-top: 60px;
}.slide-container > ul > li{
	display: block;
	width: 100%;
	padding-top: 20px;
	height: 60px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	letter-spacing: -1px;
	border-right: 4px solid #cfc61f;
	text-align: center;
}.slide-container > ul > li > a, .slide-container > ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}