*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}html, body{
	overflow-x: hidden;
	background-color: #dedede;
}.nav-container{
	display: block;
	width: 100%;
	height: 40px;
	background-color: #363636;
	color: #fff;
	text-align: center;
	font-size: 22px;
	letter-spacing: -1px;
	font-weight: bolder;
	overflow: hidden;
}.nav-container > ul{
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
}ul > .left-nav{
	display: inline-block;
	float: left;
	width: 6%;
	height: 100%;
	padding-top: 8px;
	border-bottom: 5px solid #cfc61f;
	cursor: pointer;
}ul > .center-nav{
	display: inline-block;
	width: 88%;
	height: 100%;
	padding-top: 6px;
	float: left;
	color: #fff;
	text-align: center;
}ul > .right-nav{
	display: inline-block;
	width: 6%;
	height: 100%;
	float: left;
	padding-top: 8px;
	border-bottom: 5px solid #cfc61f;
	cursor: pointer;
}ul > .left-nav > img{
	width: 20px;
	height: 20px;
}div.container{
	display: block;
	width: 100%;
}.container > .slide-container{
	display: inline-block;
	float: left;
	width: 20%;
	height: calc(100vh - 40px);
	background-color: #4a4a4a;
	display: none;
	position: absolute;
	top: 40px;
	left: 0px;
}.container > .slide-container > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}.slide-container > ul{
	display: block;
	width: 100%;
	margin-top: 60px;
}.slide-container > ul > li{
	display: block;
	width: 100%;
	padding-top: 20px;
	height: 60px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	letter-spacing: -1px;
	border-right: 4px solid #cfc61f;
	text-align: center;
}.slide-container > ul > li > a, .slide-container > ul > li > a:hover{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}.statistics{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 50px;
}.statistics > .first{
	background-color: #545454;
	color: #fff;
}.statistics > .second{
	background-color: #cfc61f;
	color: #fff;
}.stat-division{
	display: inline-block;
	float: left;
	width: 33.33%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #d4d4d4;
	color: #545454;
}.stat-division > h4{
	display: block;
	text-align: left;
	font-size: 24px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -1px;
}.stat-division > h5{
	display: block;
	text-align: right;
	font-size: 46px;
	font-weight: 200;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -1px;
	margin-top: 40px;
}.exe-container{
	display: block;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-left: 3%;
	padding-right: 3%;
}.exe-container > input[type="text"]{
	display: block;
	width: 100%;
	height: 30px;
	background-color: #fff;
	color: #000;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
}.exe-container > div{
	display: block;
	width: 100%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	margin-top: 40px;
}.exe-container button.add{
	display: inline-block;
	float: left;
	width: 100%;
	max-width: 200px;
	color: #616161;
	background-color: #cfcfcf;
	border: none;
	cursor: pointer;
	height: 40px;
}.exe-container button.recon{
	display: inline-block;
	float: left;
	width: 100%;
	max-width: 200px;
	color: #fff;
	background-color: #cfc61f;
	border: none;
	cursor: pointer;
	height: 40px;
}div.stat-table{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1000px;
	border: 5px solid #9c9c9c;
	border-radius: 5px;
	padding: 20px;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 30px;
	margin-bottom: 30px;
}.stat-table > .row{
	display: block;
	width: 100%;
}.stat-table > .row > .data{
	display: inline-block;
	float: left;
	width: 25%;
	border-right: 1px solid #7d7d7d;
	border-top: 1px solid #7d7d7d;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;
}.stat-table > .row > .header{
	font-size: 20px;
	font-weight: 900;
	letter-spacing: -1px;
	border-top: none;
}.stat-table > .row > .last{
	border-right: none;
}