{% extends 'base.html' %}{% load static %}
{% block title %}Dashboard - Snarl{% endblock %}
{% block body %}
	<nav class="nav-container">
		<ul>
			<li class="left-nav"><img src="{% static 'img/list.png' %}" /></li>
			<li class="center-nav"><a href="/dashboard">DASHBOARD</a></li>
			<li class="right-nav"><img src="{% static 'img/logo.png' %}" /></li>
		</ul>
	</nav>

	<div class="container">
		<div class="slide-container">
			<img src="{% static 'img/header.png' %}" alt="header" />
			<ul>
				<li><a href="/statistics">STATISTICS</a></li>
				<li>SUBDOMAINS</li>
				<li>VAL SUBDOMAINS</li>
				<li>TAKEOVERS</li>
				<li>HEADERS</li>
				<li>PORTS</li>
				<li>SCREENSHOTS</li>
			</ul>
		</div>
		<menu class="statistics">
			<div class="stat-division first">
				<h4>Domains</h4>
				<h5>0</h5>
			</div>
			<div class="stat-division second">
				<h4>In Process</h4>
				<h5>0</h5>
			</div>
			<div class="stat-division">
				<h4>Unchecked</h4>
				<h5>0</h5>
			</div>
		</menu>
		<menu class="exe-container">
			<input type="text" name="domain" placeholder="Enter Your Domain Here..." />
			<div>
				<button class="add">ADD</button>
				<button class="recon">RECON</button>
			</div>
		</menu>

		<div class="stat-table">
			<div class="row">
				<div class="data header">Serial</div>
				<div class="data header">Domain</div>
				<div class="data header">In Process</div>
				<div class="data header">Subdomains</div>
				<div class="data header">Ports</div>
				<div class="data header last">Screenshots</div>
			</div>
		</div>
	</div>
{% endblock %}