{% extends 'base.html' %}{% load static %}
{% block title %}Dashboard - Snarl{% endblock %}
{% block meta %}
	<meta name="author" description="hash3liZer" />
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/web.css' %}" />
{% endblock %}
{% block body %}
	<nav class="nav-container">
		<ul>
			<li class="left-nav"><img src="{% static 'img/list.png' %}" /></li>
			<li class="center-nav">DASHBOARD</li>
			<li class="right-nav"><img src="{% static 'img/logo.png' %}" /></li>
		</ul>
	</nav>

	<div class="container">
		<div class="slide-container">
			<img src="{% static 'img/header.png' %}" alt="header" />
			<ul>
				<li>SITES</li>
				<li>SUB FINDER</li>
			</ul>
		</div>
		<menu class="statistics">
			<div class="stat-division first">
				<h4>DOMAINS</h4>
				<h5>0</h5>
			</div>
			<div class="stat-division">
				<h4>UNCHECKED</h4>
				<h5>0</h5>
			</div>
		</menu>
		<form class="exe-container">
			<input type="text" name="domain" placeholder="Enter Your Domain Here..." />
			<div>
				<button class="add">ADD</button>
				<button class="recon">RECON</button>
			</div>
		</form>

		<div class="stat-table">
			<div class="row">
				<div class="data header">Sr #</div>
				<div class="data header">Domain</div>
				<div class="data header">Subdomains</div>
				<div class="data header last">Ports</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/web.js' %}"></script>
{% endblock %}