{% extends 'base.html' %}{% load static %}
{% block title %}Dashboard - Snarl{% endblock %}
{% block body %}

	<nav class="nav-container">
		<ul>
			<li class="left-nav"><img src="{% static 'img/list.png' %}" /></li>
			<li class="center-nav"><a href="/dashboard">DASHBOARD</a></li>
			<li class="right-nav"><img src="{% static 'img/logo.png' %}" /></li>
		</ul>
	</nav>

	<div class="container">
		<div class="slide-container">
			<img src="{% static 'img/header.png' %}" alt="header" />
			<ul>
				<li class="active"><a href="/statistics">STATISTICS</a></li>
				<li>SUBDOMAINS</li>
				<li>VAL SUBDOMAINS</li>
				<li>TAKEOVERS</li>
				<li>HEADERS</li>
				<li>PORTS</li>
				<li>SCREENSHOTS</li>
			</ul>
		</div>

		<h1 class="tab-header">{{ heading }}</h1>
		<div class="tab-table">
			<div class="row">
				{% for header in headers %}
					{% if forloop.last %}
						<div class="data header last">{{ header }}</div>
					{% else %}
						<div class="data header">{{ header }}</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="row">
				{% for asset in cassets %}
					<div class="data">{{ asset.serial }}</div>
					<div class="data">{{ asset.domain }}</div>
					<div class="data">{{ asset.status }}</div>
					<div class="data">{{ asset.subdoms }}</div>
					<div class="data">{{ asset.ports }}</div>
					<div class="data last">{{ asset.screenshots }}</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}