{% extends 'base.html' %}{% load static %}
{% block title %}Dashboard - Snarl{% endblock %}
{% block body %}

	<nav class="nav-container">
		<ul>
			<li class="left-nav"><img src="{% static 'img/list.png' %}" /></li>
			<li class="center-nav">DASHBOARD</li>
			<li class="right-nav"><img src="{% static 'img/logo.png' %}" /></li>
		</ul>
	</nav>

	<div class="container">
		<div class="slide-container">
			<img src="{% static 'img/header.png' %}" alt="header" />
			<ul>
				<li class="active"><a href="/statistics">STATISTICS</a></li>
				<li>SUBDOMAINS</li>
				<li>VAL SUBDOMAINS</li>
				<li>TAKEOVERS</li>
				<li>HEADERS</li>
				<li>PORTS</li>
				<li>SCREENSHOTS</li>
			</ul>
		</div>

		<h1 class="tab-header">{{ heading }}</h1>
		<div class="tab-table">
			<div class="row">
				<div class="data header">Serial</div>
				<div class="data header">Domain</div>
				<div class="data header">In Process</div>
				<div class="data header">Subdomains</div>
				<div class="data header">Ports</div>
				<div class="data header last">Screenshots</div>
			</div>
		</div>
	</div>

{% endblock %}